g.#*w
*~
*#
node_modules/
.#*
test/*.json
local_settings.json
local_raygun.json
local_google_places.json
local_config.json
src/jobDomains.txt
flymd.html
flymd.md
coverage/
.markdown-preview.html
.tern-port
telepresence.log
.nyc_output/
test_compression.js
dump.rdb
test_result.html
yarn-error.log
bin/
database.json
.idea
.vscode